@import url(https://fonts.googleapis.com/css?family=Inter:300,regular,600&display=swap);

@import url(https://fonts.googleapis.com/css?family=Jua:regular&display=swap);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

html,
body {
  height: 100%;
  min-width: 390px;
}

body {
  color: #52648a;
  line-height: 1;
  font-family: "Inter";
  font-size: 2.5625rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Inter";
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 91.25rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.ibg--top {
  -o-object-position: top;
     object-position: top;
}

.ibg--bottom {
  -o-object-position: bottom;
     object-position: bottom;
}

.ibg--left {
  -o-object-position: left;
     object-position: left;
}

.ibg--right {
  -o-object-position: right;
     object-position: right;
}

.ibg--contain {
  -o-object-fit: contain;
     object-fit: contain;
}

.header {
  padding: 2.5rem 0;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.language-selector {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 1.75rem;
  background-color: #d9d9d9;
  color: #898989;
  border: 2px solid transparent;
  -webkit-transition: border-color 0.3s;
  transition: border-color 0.3s;
}

.language-selector__item {
  min-width: 7.3125rem;
  min-height: 4.375rem;
  border-radius: 1.75rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  font-family: "Jua", sans-serif;
  margin: -2px;
}

.language-selector__item._active {
  background-color: #fda84d;
  color: #000;
  pointer-events: none;
}

.footer {
  padding: 0.9375rem 0;
  position: relative;
}

.footer__decor {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  min-width: 100%;
}

.footer::before {
  content: "";
}

.footer__container {
  position: relative;
  z-index: 2;
}

.footer__main-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2.5rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1.25rem;
}

.footer__policy-btn {
  font-family: "Jua", sans-serif;
  padding: 0.3125rem 1.875rem;
  background-color: #d9d9d9;
  color: #000;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.footer__text {
  color: #000;
  text-align: center;
  font-family: "Jua", sans-serif;
}

.socials__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5625rem;
}

.socials__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 7.5rem;
  height: 7.5rem;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.socials__link img {
  max-width: 100%;
}

.title {
  font-weight: 600;
  text-align: center;
}

.main-block {
  position: relative;
}

.main-block__decor {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  pointer-events: none;
}

.main-block__container {
  position: relative;
  z-index: 2;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto 1fr;
  grid-template-columns: auto auto 1fr;
  gap: 1.75rem;
}

.main-block__logo {
  max-width: 21.875rem;
}

.main-block__logo img {
  max-width: 100%;
}

.main-block__image {
  padding: 1.75rem;
  overflow: hidden;
  position: relative;
  max-width: 27.5rem;
}

.main-block__image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #efedee;
  border-radius: 0.875rem;
}

.main-block__image img {
  width: 100%;
  position: relative;
}

.main-block__info {
  margin-top: 8.5625rem;
}

.main-block__title {
  font-family: "Jua", sans-serif;
}

.main-block__sub-title {
  font-weight: 300;
  max-width: 30rem;
}

.how-it-work__container {
  position: relative;
}

.how-it-work__decor {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  pointer-events: none;
}

.how-it-work__video {
  max-width: 71.1875rem;
  margin: 0 auto;
  overflow: hidden;
}

.how-it-work__video iframe {
  width: 100%;
}

.how-it-work__items {
  display: -ms-grid;
  display: grid;
  gap: 1.25rem;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.how-it-work__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-how-it-work__text {
  line-height: 1.25;
}

.item-how-it-work__image {
  border-radius: 0.1875rem;
  position: relative;
  overflow: hidden;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.item-how-it-work:first-child .item-how-it-work__image {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.item-how-it-work:last-child .item-how-it-work__image {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.item-how-it-work__image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #52648a;
}

.item-how-it-work__image img {
  position: relative;
  max-width: 100%;
}

.download-section {
  position: relative;
}

.no-webp .download-section::before{
  background: url("../img/download-decor.png") 0 0/contain no-repeat; }

.download-section::before {
  content: "";
  position: absolute;
  width: 61.25%;
  /* 1176/1920 */
  padding-bottom: 62.5%;
  /* 1200/1920 */
  left: 3.229167%;
  /* 62/1920 */
  top: 0;
  z-index: -1;
  pointer-events: none;
}

.item-download-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-download-section__image {
  max-width: 27.8125rem;
}

.item-download-section__image img {
  max-width: 100%;
}

.item-download-section__button {
  max-width: 27.8125rem;
  display: inline-block;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.item-download-section__button img {
  max-width: 100%;
}

.item-download-section__info {
  text-align: center;
}

.item-download-section__label {
  font-weight: 600;
  margin-bottom: 3.125rem;
  line-height: 1.2;
}

@media (min-width: 47.99875em) {
  .download-section__items {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    gap: 3.125rem;
  }
}

@media (min-width: 61.99875em) {
  .title {
    font-size: 4.5rem;
  }

  .main-block__title {
    font-size: 4.5rem;
  }

  .main-block__sub-title {
    font-size: 3.4375rem;
  }

  .how-it-work__items {
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
  }

  .how-it-work__item:nth-child(2) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .item-how-it-work:nth-child(3) .item-how-it-work__text {
    font-size: 1.875rem;
  }
}

@media (min-width: 91.25em) {
  .language-selector__item {
    font-size: 2rem;
  }

  .footer__policy-btn {
    border-radius: 1.75rem;
  }

  .title {
    margin-bottom: 3.875rem;
  }

  .main-block {
    padding-bottom: 12.625rem;
  }

  .main-block__logo {
    margin-right: 5rem;
    margin-top: 8.5625rem;
  }

  .how-it-work {
    margin-bottom: 7.5rem;
  }

  .how-it-work__video {
    border-radius: 2.875rem;
  }

  .how-it-work__video {
    margin-bottom: 8.75rem;
  }

  .how-it-work__item {
    gap: 2.5rem;
  }

  .item-how-it-work__image {
    padding: 0.9375rem;
  }

  .item-how-it-work__image {
    border-radius: 0.6875rem;
  }

  .download-section {
    margin-bottom: 14.1875rem;
  }

  .item-download-section__text {
    font-size: 2.5625rem;
  }
}

@media (min-width: 62em) {
  .item-how-it-work__text {
    font-size: 2.625rem;
  }

  .item-download-section__image {
    margin-bottom: 3.125rem;
  }

  .item-download-section__button {
    margin-bottom: 3.125rem;
  }

  .item-download-section__label {
    margin-bottom: 3.125rem;
  }
}

@media (min-width: 75em) {
  .footer__policy-btn {
    font-size: 2.5rem;
  }

  .footer__text {
    font-size: 1.5rem;
  }
}

@media (min-width: 90em) {
  .item-download-section__label {
    font-size: 4rem;
  }
}

@media (max-width: 48em) {
  .item-download-section__label {
    font-size: 2.1875rem;
  }
}

@media (max-width: 91.25em) {
  .main-block__container {
    -ms-grid-columns: auto 30% 1fr;
    grid-template-columns: auto 30% 1fr;
  }

  .main-block__info {
    margin-top: 2.625rem;
  }
}

@media (max-width: 61.99875em) and (max-width: 24.375em) {
  .title {
    font-size: 1.25rem;
  }

  .main-block__image {
    padding: 0.5rem;
  }

  .main-block__title {
    font-size: 1.25rem;
  }

  .main-block__sub-title {
    font-size: 0.9375rem;
  }
}

@media (max-width: 61.99875em) {
  .main-block__decor {
    width: 200%;
    left: -30%;
    top: -10%;
  }

  .main-block__container {
    -ms-grid-columns: 40% 1fr;
    grid-template-columns: 40% 1fr;
    row-gap: 2.5rem;
    -webkit-column-gap: 2.1875rem;
       -moz-column-gap: 2.1875rem;
            column-gap: 2.1875rem;
  }

  .main-block__logo {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    max-width: 71.428571%;
    /* 100/140 */
    -ms-flex-item-align: end;
        align-self: flex-end;
  }

  .main-block__image {
    -ms-grid-row-span: 2;
    grid-row: span 2;
  }

  .how-it-work__decor {
    display: none;
  }

  .how-it-work__items {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    row-gap: 1.875rem;
  }

  .how-it-work__item:nth-child(2) {
    -ms-grid-row-span: 2;
    grid-row: span 2;
    -ms-grid-row-align: center;
        align-self: center;
  }

  .item-how-it-work:last-child .item-how-it-work__image {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
}

@media (max-width: 47.99875em) {
  .language-selector__item {
    min-height: 2.5rem;
    min-height: 2.5rem;
  }

  .footer__decor {
    max-height: 9.375rem;
  }

  .socials__link {
    width: 3.125rem;
    height: 3.125rem;
  }

  .item-how-it-work__text {
    font-weight: 600;
  }

  .download-section__item:not(:last-child) {
    margin-bottom: 2.5rem;
  }

  .item-download-section__image {
    max-width: 70%;
  }

  .item-download-section__button {
    max-width: 70%;
  }
}

@media (max-width: 24.375em) {
  .language-selector__item {
    font-size: 1.25rem;
  }

  .footer__policy-btn {
    font-size: 0.9375rem;
  }

  .footer__policy-btn {
    border-radius: 0.625rem;
  }

  .footer__text {
    font-size: 0.75rem;
  }

  .title {
    margin-bottom: 1.875rem;
  }

  .main-block {
    padding-bottom: 4rem;
  }

  .how-it-work {
    margin-bottom: 2.625rem;
  }

  .how-it-work__video {
    border-radius: 0.9375rem;
  }

  .how-it-work__video {
    margin-bottom: 2rem;
  }

  .how-it-work__item {
    gap: 0.625rem;
  }

  .item-how-it-work__text {
    font-size: 1rem;
  }

  .item-how-it-work__image {
    padding: 0.4375rem;
  }

  .item-how-it-work__image {
    border-radius: 0.1875rem;
  }

  .download-section {
    margin-bottom: 4.8125rem;
  }

  .item-download-section__image {
    margin-bottom: 1.25rem;
  }

  .item-download-section__button {
    margin-bottom: 1.25rem;
  }

  .item-download-section__label {
    margin-bottom: 1.25rem;
  }

  .item-download-section__text {
    font-size: 1.4375rem;
  }
}

@media (min-width: 24.375em) and (max-width: 91.25em) {
@supports (font-size: clamp( 1.25rem , 0.976635514rem  +  1.1214953271vw , 2rem )) {
    .language-selector__item {
      font-size: clamp( 1.25rem , 0.976635514rem  +  1.1214953271vw , 2rem );
    }
}

@supports not (font-size: clamp( 1.25rem , 0.976635514rem  +  1.1214953271vw , 2rem )) {
    .language-selector__item {
      font-size: calc(1.25rem + 0.75 * (100vw - 24.375rem) / 66.875);
    }
}

@supports (border-radius: clamp( 0.625rem , 0.214953271rem  +  1.6822429907vw , 1.75rem )) {
    .footer__policy-btn {
      border-radius: clamp( 0.625rem , 0.214953271rem  +  1.6822429907vw , 1.75rem );
    }
}

@supports not (border-radius: clamp( 0.625rem , 0.214953271rem  +  1.6822429907vw , 1.75rem )) {
    .footer__policy-btn {
      border-radius: calc(0.625rem + 1.125 * (100vw - 24.375rem) / 66.875);
    }
}

@supports (margin-bottom: clamp( 1.875rem , 1.1460280374rem  +  2.9906542056vw , 3.875rem )) {
    .title {
      margin-bottom: clamp( 1.875rem , 1.1460280374rem  +  2.9906542056vw , 3.875rem );
    }
}

@supports not (margin-bottom: clamp( 1.875rem , 1.1460280374rem  +  2.9906542056vw , 3.875rem )) {
    .title {
      margin-bottom: calc(1.875rem + 2 * (100vw - 24.375rem) / 66.875);
    }
}

@supports (padding-bottom: clamp( 4rem , 0.8563084112rem  +  12.8971962617vw , 12.625rem )) {
    .main-block {
      padding-bottom: clamp( 4rem , 0.8563084112rem  +  12.8971962617vw , 12.625rem );
    }
}

@supports not (padding-bottom: clamp( 4rem , 0.8563084112rem  +  12.8971962617vw , 12.625rem )) {
    .main-block {
      padding-bottom: calc(4rem + 8.625 * (100vw - 24.375rem) / 66.875);
    }
}

@supports (margin-bottom: clamp( 2.625rem , 0.8481308411rem  +  7.2897196262vw , 7.5rem )) {
    .how-it-work {
      margin-bottom: clamp( 2.625rem , 0.8481308411rem  +  7.2897196262vw , 7.5rem );
    }
}

@supports not (margin-bottom: clamp( 2.625rem , 0.8481308411rem  +  7.2897196262vw , 7.5rem )) {
    .how-it-work {
      margin-bottom: calc(2.625rem + 4.875 * (100vw - 24.375rem) / 66.875);
    }
}

@supports (border-radius: clamp( 0.9375rem , 0.2313084112rem  +  2.8971962617vw , 2.875rem )) {
    .how-it-work__video {
      border-radius: clamp( 0.9375rem , 0.2313084112rem  +  2.8971962617vw , 2.875rem );
    }
}

@supports not (border-radius: clamp( 0.9375rem , 0.2313084112rem  +  2.8971962617vw , 2.875rem )) {
    .how-it-work__video {
      border-radius: calc(0.9375rem + 1.9375 * (100vw - 24.375rem) / 66.875);
    }
}

@supports (margin-bottom: clamp( 2rem , -0.4602803738rem  +  10.0934579439vw , 8.75rem )) {
    .how-it-work__video {
      margin-bottom: clamp( 2rem , -0.4602803738rem  +  10.0934579439vw , 8.75rem );
    }
}

@supports not (margin-bottom: clamp( 2rem , -0.4602803738rem  +  10.0934579439vw , 8.75rem )) {
    .how-it-work__video {
      margin-bottom: calc(2rem + 6.75 * (100vw - 24.375rem) / 66.875);
    }
}

@supports (gap: clamp( 0.625rem , -0.058411215rem  +  2.8037383178vw , 2.5rem )) {
    .how-it-work__item {
      gap: clamp( 0.625rem , -0.058411215rem  +  2.8037383178vw , 2.5rem );
    }
}

@supports not (gap: clamp( 0.625rem , -0.058411215rem  +  2.8037383178vw , 2.5rem )) {
    .how-it-work__item {
      gap: calc(0.625rem + 1.875 * (100vw - 24.375rem) / 66.875);
    }
}

@supports (padding: clamp( 0.4375rem , 0.2552570093rem  +  0.7476635514vw , 0.9375rem )) {
    .item-how-it-work__image {
      padding: clamp( 0.4375rem , 0.2552570093rem  +  0.7476635514vw , 0.9375rem );
    }
}

@supports not (padding: clamp( 0.4375rem , 0.2552570093rem  +  0.7476635514vw , 0.9375rem )) {
    .item-how-it-work__image {
      padding: calc(0.4375rem + 0.5 * (100vw - 24.375rem) / 66.875);
    }
}

@supports (border-radius: clamp( 0.1875rem , 0.0052570093rem  +  0.7476635514vw , 0.6875rem )) {
    .item-how-it-work__image {
      border-radius: clamp( 0.1875rem , 0.0052570093rem  +  0.7476635514vw , 0.6875rem );
    }
}

@supports not (border-radius: clamp( 0.1875rem , 0.0052570093rem  +  0.7476635514vw , 0.6875rem )) {
    .item-how-it-work__image {
      border-radius: calc(0.1875rem + 0.5 * (100vw - 24.375rem) / 66.875);
    }
}

@supports (margin-bottom: clamp( 4.8125rem , 1.3954439252rem  +  14.0186915888vw , 14.1875rem )) {
    .download-section {
      margin-bottom: clamp( 4.8125rem , 1.3954439252rem  +  14.0186915888vw , 14.1875rem );
    }
}

@supports not (margin-bottom: clamp( 4.8125rem , 1.3954439252rem  +  14.0186915888vw , 14.1875rem )) {
    .download-section {
      margin-bottom: calc(4.8125rem + 9.375 * (100vw - 24.375rem) / 66.875);
    }
}

@supports (font-size: clamp( 1.4375rem , 1.027453271rem  +  1.6822429907vw , 2.5625rem )) {
    .item-download-section__text {
      font-size: clamp( 1.4375rem , 1.027453271rem  +  1.6822429907vw , 2.5625rem );
    }
}

@supports not (font-size: clamp( 1.4375rem , 1.027453271rem  +  1.6822429907vw , 2.5625rem )) {
    .item-download-section__text {
      font-size: calc(1.4375rem + 1.125 * (100vw - 24.375rem) / 66.875);
    }
}
}

@media (min-width: 24.375em) and (max-width: 75em) {
@supports (font-size: clamp( 0.9375rem , 0.1851851852rem  +  3.0864197531vw , 2.5rem )) {
    .footer__policy-btn {
      font-size: clamp( 0.9375rem , 0.1851851852rem  +  3.0864197531vw , 2.5rem );
    }
}

@supports not (font-size: clamp( 0.9375rem , 0.1851851852rem  +  3.0864197531vw , 2.5rem )) {
    .footer__policy-btn {
      font-size: calc(0.9375rem + 1.5625 * (100vw - 24.375rem) / 50.625);
    }
}

@supports (font-size: clamp( 0.75rem , 0.3888888889rem  +  1.4814814815vw , 1.5rem )) {
    .footer__text {
      font-size: clamp( 0.75rem , 0.3888888889rem  +  1.4814814815vw , 1.5rem );
    }
}

@supports not (font-size: clamp( 0.75rem , 0.3888888889rem  +  1.4814814815vw , 1.5rem )) {
    .footer__text {
      font-size: calc(0.75rem + 0.75 * (100vw - 24.375rem) / 50.625);
    }
}
}

@media (max-width: 61.99875em) and (min-width: 62em) {
  .title {
    font-size: 4.5rem;
  }

  .main-block__image {
    padding: 1.75rem;
  }

  .main-block__title {
    font-size: 4.5rem;
  }

  .main-block__sub-title {
    font-size: 3.4375rem;
  }
}

@media (max-width: 61.99875em) and (min-width: 24.375em) and (max-width: 62em) {
@supports (font-size: clamp( 1.25rem , -0.8554817276rem  +  8.6378737542vw , 4.5rem )) {
    .title {
      font-size: clamp( 1.25rem , -0.8554817276rem  +  8.6378737542vw , 4.5rem );
    }
}

@supports not (font-size: clamp( 1.25rem , -0.8554817276rem  +  8.6378737542vw , 4.5rem )) {
    .title {
      font-size: calc(1.25rem + 3.25 * (100vw - 24.375rem) / 37.625);
    }
}

@supports (padding: clamp( 0.5rem , -0.3098006645rem  +  3.3222591362vw , 1.75rem )) {
    .main-block__image {
      padding: clamp( 0.5rem , -0.3098006645rem  +  3.3222591362vw , 1.75rem );
    }
}

@supports not (padding: clamp( 0.5rem , -0.3098006645rem  +  3.3222591362vw , 1.75rem )) {
    .main-block__image {
      padding: calc(0.5rem + 1.25 * (100vw - 24.375rem) / 37.625);
    }
}

@supports (font-size: clamp( 1.25rem , -0.8554817276rem  +  8.6378737542vw , 4.5rem )) {
    .main-block__title {
      font-size: clamp( 1.25rem , -0.8554817276rem  +  8.6378737542vw , 4.5rem );
    }
}

@supports not (font-size: clamp( 1.25rem , -0.8554817276rem  +  8.6378737542vw , 4.5rem )) {
    .main-block__title {
      font-size: calc(1.25rem + 3.25 * (100vw - 24.375rem) / 37.625);
    }
}

@supports (font-size: clamp( 0.9375rem , -0.6821013289rem  +  6.6445182724vw , 3.4375rem )) {
    .main-block__sub-title {
      font-size: clamp( 0.9375rem , -0.6821013289rem  +  6.6445182724vw , 3.4375rem );
    }
}

@supports not (font-size: clamp( 0.9375rem , -0.6821013289rem  +  6.6445182724vw , 3.4375rem )) {
    .main-block__sub-title {
      font-size: calc(0.9375rem + 2.5 * (100vw - 24.375rem) / 37.625);
    }
}
}

@media (min-width: 61.99875em) and (max-width: 91.25em) {
  .main-block__logo {
    margin-top: 2.625rem;
  }
}

@media (min-width: 24.375em) and (max-width: 62em) {
@supports (font-size: clamp( 1rem , -0.0527408638rem  +  4.3189368771vw , 2.625rem )) {
    .item-how-it-work__text {
      font-size: clamp( 1rem , -0.0527408638rem  +  4.3189368771vw , 2.625rem );
    }
}

@supports not (font-size: clamp( 1rem , -0.0527408638rem  +  4.3189368771vw , 2.625rem )) {
    .item-how-it-work__text {
      font-size: calc(1rem + 1.625 * (100vw - 24.375rem) / 37.625);
    }
}

@supports (margin-bottom: clamp( 1.25rem , 0.0352990033rem  +  4.9833887043vw , 3.125rem )) {
    .item-download-section__image {
      margin-bottom: clamp( 1.25rem , 0.0352990033rem  +  4.9833887043vw , 3.125rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.0352990033rem  +  4.9833887043vw , 3.125rem )) {
    .item-download-section__image {
      margin-bottom: calc(1.25rem + 1.875 * (100vw - 24.375rem) / 37.625);
    }
}

@supports (margin-bottom: clamp( 1.25rem , 0.0352990033rem  +  4.9833887043vw , 3.125rem )) {
    .item-download-section__button {
      margin-bottom: clamp( 1.25rem , 0.0352990033rem  +  4.9833887043vw , 3.125rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.0352990033rem  +  4.9833887043vw , 3.125rem )) {
    .item-download-section__button {
      margin-bottom: calc(1.25rem + 1.875 * (100vw - 24.375rem) / 37.625);
    }
}

@supports (margin-bottom: clamp( 1.25rem , 0.0352990033rem  +  4.9833887043vw , 3.125rem )) {
    .item-download-section__label {
      margin-bottom: clamp( 1.25rem , 0.0352990033rem  +  4.9833887043vw , 3.125rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.0352990033rem  +  4.9833887043vw , 3.125rem )) {
    .item-download-section__label {
      margin-bottom: calc(1.25rem + 1.875 * (100vw - 24.375rem) / 37.625);
    }
}
}

@media (min-width: 48em) and (max-width: 90em) {
@supports (font-size: clamp( 2.1875rem , 0.1160714286rem  +  4.3154761905vw , 4rem )) {
    .item-download-section__label {
      font-size: clamp( 2.1875rem , 0.1160714286rem  +  4.3154761905vw , 4rem );
    }
}

@supports not (font-size: clamp( 2.1875rem , 0.1160714286rem  +  4.3154761905vw , 4rem )) {
    .item-download-section__label {
      font-size: calc(2.1875rem + 1.8125 * (100vw - 48rem) / 42);
    }
}
}

@media (any-hover: hover) {
  .language-selector:hover {
    border-color: #fda84d;
  }

  .footer__policy-btn:hover {
    background-color: #bdbdbd;
  }

  .socials__link:hover {
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
  }

  .item-how-it-work__image:hover {
    -webkit-transform: scale(1.01);
        -ms-transform: scale(1.01);
            transform: scale(1.01);
  }

  .item-download-section__button:hover {
    -webkit-transform: scale(1.02);
        -ms-transform: scale(1.02);
            transform: scale(1.02);
  }
}

.webp .download-section::before{ background: url(../img/download-decor.webp) 0 0/contain no-repeat; }